#div{
	background-color:red;
	padding: 0px;
}
#div1{
	background-color:blue;
	color:yellow;
	
}
#ul{
	text-align: center;
}

section{
	background: yellow;
}
h1,h3{
	text-align: center;
}

a{
	text-align: center;
}

@media (min-width: 768px)
{
    .navbar-toggler {
        display: none;
    }

    .navbar-toggler-icon button {
        display: none;
    }
}
